@CHARSET "UTF-8";
body {
	background-color: #E3FFFF;
}

.main-contents{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	height: 100%;
	border:double 3px #333;
	width: 800px;

}

.title{
	font-size:25px;
	color:#000080;
	text-align:center;

}

.errorMessages{
	color:red;
}