@CHARSET "UTF-8";


body {
	background-color: #E3FFFF;
}

.users{
	border:double 3px #333;
}

.errorMessages{
	color:red;
}


#titleName{
	margin-bottom: 0px;
	color:#000080;
	text-align:center;
	font-size:25px;
}